# Ignore R data and history files
*.RData
*.Rhistory

# Ignore document files
*.pdf
*.odt

# Ignore image files
*.png

# Ignore system files
.DS_Store
Thumbs.db

# Ignore Python virtual environment (if any)
venv/
__pycache__/
*.py[cod]
*.so

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore logs and temporary files
logs/
*.log
tmp/
